.header {
  padding: 0;
  color: #6c63ff;
  margin: 0;
  min-height: 80px;
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links li {
  margin-left: 30px;
  color: #666666;
  cursor: pointer;
  transition: 0.3s;
}

.links li:hover {
  color: #6c63ff;
}
